<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Dziennikarzpress</title>
		<link href="../css/style.css" rel="stylesheet" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="main" >
			<div class="top" >
			<div class="menucon">
			<div class="head"><a href='./index.html'>Dziennikarzpress.pl</a> </div>
				<div class='menu'>
					<ul>
						<li><a href='../index.html'>Strona główna</a></li> 
						<li><a href='../tekstowa/index.html'>Podstrona</a></li>
						<li><a href='../tekstowa/index.html'>Podstrona</a></li>
					</ul>
				</div>
			</div>
			</div>

		
		<div class="content" >
			<div class="right">
				
				<div class="con_post">
					<div class="title"><h2> Strona tekstowa </h2></div>
					<div class="con_tekstowa">
						<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium turpis sit amet odio rhoncus congue. Duis pharetra rutrum nisl, quis suscipit augue. Ut quis sollicitudin enim, vel ultricies purus. Morbi tortor mi, aliquam et pharetra eu, condimentum nec mi. Proin feugiat odio egestas imperdiet gravida. Phasellus scelerisque nibh a leo pharetra, quis pulvinar tellus rutrum. Nulla id tempor mi. Donec nec lobortis neque, ut imperdiet arcu. Suspendisse ac pharetra nunc, at iaculis odio. Praesent aliquet dui interdum odio accumsan lacinia. Pellentesque tortor justo, auctor a enim eget, aliquet interdum dolor. Curabitur nec bibendum nulla. Vestibulum cursus a lacus et finibus. Aliquam erat elit, suscipit laoreet eros dignissim, lacinia aliquam felis. Nullam porta, erat quis imperdiet rhoncus, ex velit mollis nisl, dignissim ullamcorper enim ex vel magna. In blandit lobortis lacus, at viverra magna venenatis in.

						Pellentesque porttitor lacus nec mauris luctus tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam ornare feugiat nisl sit amet rutrum. Aliquam erat volutpat. Pellentesque fringilla eu neque et porta. Cras fringilla nulla vitae posuere varius. Phasellus venenatis ut diam sed scelerisque. Etiam laoreet lectus nec nunc vestibulum euismod.

						Morbi dolor lorem, ultricies vel orci vitae, faucibus aliquam tortor. Donec euismod diam et sem sollicitudin, a porttitor tortor aliquam. Suspendisse euismod quam felis, nec gravida erat rutrum et. Nulla convallis imperdiet sodales. Phasellus non urna lobortis dolor euismod imperdiet. Proin ut nibh non lacus dapibus accumsan. Donec tortor tortor, consequat sed elit ut, accumsan malesuada felis. Ut fermentum ornare lacus, at tempus elit sagittis eget.

						Integer ut dignissim erat. Fusce at ultricies ipsum. Praesent rutrum placerat pharetra. Aenean ac rhoncus eros. Nam ultricies risus vitae massa elementum, sed venenatis turpis imperdiet. Quisque eget varius dolor. Integer ante ipsum, ultricies quis auctor sed, fringilla non erat. Sed vitae aliquet nisl. Integer a est nulla. Pellentesque laoreet enim tempus, vehicula quam vel, sollicitudin arcu. Vestibulum eget feugiat massa, a maximus nulla. Vivamus at sem vel lorem consequat venenatis. Sed rhoncus dapibus risus, id pellentesque tellus. Nunc dignissim, nisl ut cursus feugiat, ipsum urna efficitur arcu, gravida commodo ex felis eget ligula.

						Integer cursus aliquam nulla, non elementum diam rutrum nec. Donec scelerisque sed nunc ac sagittis. In hac habitasse platea dictumst. Vivamus vitae risus tempor, commodo nisl in, malesuada orci. Donec sit amet felis et tortor tincidunt facilisis. Proin vel sollicitudin quam. Proin eros odio, semper et ipsum bibendum, tempus pellentesque massa. Pellentesque ipsum mauris, dapibus vitae libero id, ornare tempor nunc. Quisque pellentesque accumsan tellus. Donec eu elit non velit venenatis mattis vitae ac ligula. Vivamus tincidunt dictum gravida. Proin nec luctus arcu. Mauris sed aliquam erat. Ut scelerisque vulputate arcu, non malesuada enim porttitor in. </p>
						</div>
					
				</div>
			
			</div>
		    	
					
			
				<div class="left">
				
				<div class="con_cat">
						<div class="title"><h2>Kategorie</h2></div>                               
						<div class="con_txt">
							<ul class="con_li">
								<li><a href="../kategoria/index.html" title="Kategoria 1">Dzienniki</a></li>
								<li><a href="../kategoria/index.html" title="Kategoria 2">Tygodniki</a></li>
								<li><a href="../kategoria/index.html" title="Kategoria 3">Miesięczniki</a></li>
								<li><a href="../kategoria/index.html" title="Kategoria 4">Kwartalniki</a></li>
								<li><a href="../kategoria/index.html" title="Kategoria 5">Okoliczniki</a></li>
							</ul>
						</div>
				</div>
				
					<div class="con_cat">
						<div class="title"><h2>Tagi</h2></div>                               
						<div class="con_txt">
							<div id="tags">
								<a href="#" >hobbistyczne</a> 
								<a href="#" >biały kruk</a>
								<a href="#" >dla kobiet</a> 
								<a href="#" >dla mężczyzn</a> 
								<a href="#" >naukowe</a>
								<a href="#" >dziecięce</a> 						
							</div>
						</div>						
					</div>
				</div>
				
			<footer>Dziennikarzpress.pl - 2014</footer>		
		</div>
		
			
		</div>
		
			
	</body>
</html>