<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Dziennikarzpress</title>
		<link href="../css/style.css" rel="stylesheet" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="main" >
		
			<div class="top" >
			<div class="menucon">
			<div class="head"><a href='./index.html'>Dziennikarzpress.pl</a> </div>
				<div class='menu'>
					<ul>
						<li><a href='../index.html'>Strona główna</a></li> 
						<li><a href='../tekstowa/index.html'>Podstrona</a></li>
						<li><a href='../tekstowa/index.html'>Podstrona</a></li>
					</ul>
				</div>
			</div>
			</div>
			
		
		<div class="content" >
			<div class="right">
				
				<div class="con_post">
					<div class="title"><h2> Poradnik </h2></div>
					<div class="wpost">
					<a href="#" target="_blank"><img src="../img/cat1.jpg" title="aaaa" alt="aaaaa" class="wmini" /></a>
					<p>Si vous dites aux grandes personnes: «J’ai vu une belle maison en briques roses, avec des géraniums aux fenêtres et des colombes sur le toit...» elles ne parviennent pas à s’imaginer cette maison. Il faut leur dire: «J’ai vu une maison de cent mille francs.» Alors elles s’écrient: «Comme c’est joli!»</p>
					<p>Quand tu regarderas le ciel, la nuit, puisque j'habiterai dans l'une d'elles, puisque je rirai dans l'une d'elles, alors ce sera pour toi comme si riaient toutes les étoiles. </p>
					</div>
					
					<div class="under_wpost">	
					
					<table>
						<tr>
						<td class="col_l" >Link:</td><td class="col_r"><a href="# target="_blank"> www.example.com</a></td>
						</tr><tr>
						<td class="col_l">Kategorie:</td><td class="col_r">
						<a href="../kategoria/index.html" target="_blank"> Kategoria 1</a>
						<a href="../kategoria/index.html" target="_blank"> Kategoria 3</a>
						</td>
						</tr><tr>
						<td class="col_l">Tagi:</td>
						<td class="col_r">
						<a  href="#" target="_blank">naukowa</a>
						<a href="#" target="_blank" >dla kobiet</a> 
						</td>
						</tr>
						<tr >
						<td class="col_l">Podobne wpisy:</td>
						<td class="col_r" >
							<div class="simpost">
								<h4><a href="#">Miesięcznik prawdziwego mężczyzny</a></h4>
								<a href="#"><img src="../img/cat2.jpg" title="modern" alt="modernizm" class="simini" /></a>
								<p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source.</p>
								<p class="readmore"><a href="#" title="modern">Więcej... </a></p>			
							</div>
							<div class="simpost">
								<h4><a href="#">Fantastyka codzienności</a></h4>
								<a href="#"><img src="../img/cat3.jpg" title="modern" alt="modernizm" class="simini" /></a>
								<p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source.</p>
								<p class="readmore"><a href="#" title="modern">Więcej... </a></p>			
							</div>
						</td>
						</tr>
					</table>
					</div>
					
				</div>
			
			</div>
		    	
					
			
				<div class="left">
				
				<div class="con_cat">
						<div class="title"><h2>Kategorie</h2></div>                               
						<div class="con_txt">
							<ul class="con_li">
								<li><a href="../kategoria/index.html" title="Kategoria 1">Dzienniki</a></li>
								<li><a href="../kategoria/index.html" title="Kategoria 2">Tygodniki</a></li>
								<li><a href="../kategoria/index.html" title="Kategoria 3">Miesięczniki</a></li>
								<li><a href="../kategoria/index.html" title="Kategoria 4">Kwartalniki</a></li>
								<li><a href="../kategoria/index.html" title="Kategoria 5">Okoliczniki</a></li>
							</ul>
						</div>
				</div>
				
					<div class="con_cat">
						<div class="title"><h2>Tagi</h2></div>                               
						<div class="con_txt">
							<div id="tags">
								<a href="#" >hobbistyczne</a> 
								<a href="#" >biały kruk</a>
								<a href="#" >dla kobiet</a> 
								<a href="#" >dla mężczyzn</a> 
								<a href="#" >naukowe</a>
								<a href="#" >dziecięce</a> 						
							</div>
						</div>						
					</div>
				</div>
				
			<footer>Dziennikarzpress.pl - 2014</footer>		
		</div>
		
			
		</div>
		
			
	</body>
</html>