{% load staticfiles %}
<!doctype html>

<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
		
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
    
       <div class="page-header">
       <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <blockquote>
                         „Bądź tak uprzejmy i spróbuj przemyśleć następujący problem - na co by się zdało twoje dobro, gdyby nie istniało zło, i jak by wyglądała ziemia, gdyby z niej zniknęły cienie? Przecież cienie rzucają przedmioty i ludzie. Oto cień mojej szpady. Ale są również cienie drzew i cienie istot żywych. A może chcesz złupić całą kulę ziemską, usuwając z jej powierzchni wszystkie drzewa i wszystko, co żyje, ponieważ masz taką fantazję, żeby się napawać niezmąconą światłością? Jesteś głupi.” Mistrz i Małgorzata M. Bułkahow
                         </blockquote>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
    {% for post in posts %}
        <div class="post">
                    <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
                    <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                    <p>{{ post.text|linebreaks }}</p>
                    <p> <a href="{% url 'post_detail' pk=post.pk %}"> Czytaj więcej! </a> </p>
                </div>
    {% endfor %}
{% endblock %}
            </div>
        </div>
    </div>
       
    </body>
</html>