<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Dziennikarzpress</title>
		<link href="../css/style.css" rel="stylesheet" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="main" >

				<div class="top" >
				<div class="menucon">
				<div class="head"><a href='../index.html'>Dziennikarzpress.pl</a> </div>
				<div class='menu'>
					<ul>
						<li><a href='../index.html'>Strona główna</a></li> 
						<li><a href='../tekstowa/index.html'>Podstrona</a></li>
						<li><a href='../tekstowa/index.html'>Podstrona</a></li>
					</ul>
				</div>
			</div>
			</div>
		
		<div class="content" >
			<div class="right">
				
				<div class="con_post">
					<div class="title"><h2> Przykładowa kategoria </h2></div>
					<div class="catpost">
							<h4><a href="../wpis/index.html"> Poradnik </a></h4>
							<a href="../wpis/index.html"><img src="../img/cat1.jpg" title="natura" alt="więcej natury" class="catmini" /></a>
							<p>– Czy nie mógłby pan mnie poinformować, którędy powinnam pójść? – mówiła dalej.
								– To zależy w dużej mierze od tego, dokąd pragnęłabyś zajść – odparł Kot-Dziwak.
								– Właściwie wszystko mi jedno. – W takim razie również wszystko jedno, którędy pójdziesz.
								– Chciałabym tylko dostać się dokądś – dodała Alicja w formie wyjaśnienia
								– Ach, na pewno tam się dostaniesz, jeśli tylko będziesz szła dość długo. </p>
							<p class="readmore"><a href="../wpis/index.html" title="modern">Więcej... </a></p>			
					</div>
					<div class="catpost">
							<h4><a href="../wpis/index.html"> Dla mężczyzn </a></h4>
							<a href="../wpis/index.html"><img src="../img/cat2.jpg" title="natura" alt="więcej natury" class="catmini" /></a>
							<p>Cóż, jeśli wolno, przyzna pan, że kryje się coś niedobrego w mężczyznach, którzy unikają wina, gier, towarzystwa pięknych kobiet i ucztowania. Tacy ludzie albo są ciężko chorzy, albo w głębi duszy nienawidzą otoczenia. Co prawda zdarzają się wyjątki. Wśród tych, z którymi wypadało mi ucztować, zdarzali się od czasu do czasu niewiarygodni szubrawcy!... Słucham więc, co pana sprowadza?
							</p>
							<p class="readmore"><a href="../wpis/index.html" title="modern">Więcej... </a></p>			
					</div>
						
					<div class="catpost">
							<h4><a href="../wpis/index.html"> Dla kobiet </a></h4>
							<a href="../wpis/index.html"><img src="../img/cat3.jpg" title="natura" alt="więcej natury" class="catmini" /></a>
							<p>Ludzkość cierpi na niedobór mężczyzn, w szczególności zaś mężczyzn, którzy są czegoś warci. </p>
							<p>Błogosławieni, którzy nie mając nic do powiedzenia, nie ubierają tego w słowa.</p>
							<p class="readmore"><a href="../wpis/index.html" title="modern">Więcej... </a></p>			
						</div>	
						
						<div id="page">&nbsp;<strong>1</strong>&nbsp;<a href="#">2</a>&nbsp;<a href="#">&gt;</a>&nbsp;</div>
						<br/>
						<br/>
					
				</div>
			
			</div>
		    	
			
				<div class="left">
				
				<div class="con_cat">
						<div class="title"><h2>Kategorie</h2></div>                               
						<div class="con_txt">
							<ul class="con_li">
								<li><a href="../kategoria/index.html" title="Kategoria 1">Dzienniki</a></li>
								<li><a href="../kategoria/index.html" title="Kategoria 2">Tygodniki</a></li>
								<li><a href="../kategoria/index.html" title="Kategoria 3">Miesięczniki</a></li>
								<li><a href="../kategoria/index.html" title="Kategoria 4">Kwartalniki</a></li>
								<li><a href="../kategoria/index.html" title="Kategoria 5">Okoliczniki</a></li>
							</ul>
						</div>
				</div>
				
					<div class="con_cat">
						<div class="title"><h2>Tagi</h2></div>                               
						<div class="con_txt">
							<div id="tags">
								<a href="#" >hobbistyczne</a> 
								<a href="#" >biały kruk</a>
								<a href="#" >dla kobiet</a> 
								<a href="#" >dla mężczyzn</a> 
								<a href="#" >naukowe</a>
								<a href="#" >dziecięce</a> 						
							</div>
						</div>						
					</div>
				</div>
				
			<footer>Dziennikarzpress.pl - 2014</footer>		
		</div>
		
			
		</div>
		
			
	</body>
</html>